.app_bestseller_foot span {
    padding-right: 15px;
    cursor: pointer;
}

.image_title_sec {
    top: 27px;
}

.app_add_minus_icon {
    padding-right: 15px;
    cursor: pointer;
    color: #000;
}
.padRight{
    padding-right: 15px;
}