.app_bestseller_foot span {
    padding-right: 15px;
    cursor: pointer;
}
.app_the_food_image_content_text_icons.size_test.ng-star-inserted {
    border-bottom: 1px solid #cccccc6b;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}
.app_food_popup {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    padding: 0;
    background-color: #fff;
}
.image_title_sec {
    top: 27px;
}

.app_add_minus_icon {
    cursor: pointer;
    color: #000;
}
.padRight{
    padding-right: 15px;
}
input[type=checkbox] {
    /* box-sizing: border-box; */
    /* padding: 0; */
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    height: 22px;
    width: 22px;
    background-color: #d6d0d0 !important;
}
.padRightfive {
    padding-right: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #2a3b56;
}
@media only screen and (max-width: 800px) and (min-width: 320px){
.requireds .col-12 {
    padding: 0;
}
i.fa.fa-minus{
    background: #f6f4f4;
    width: 23px !important;
    text-align: center;
    height: 23px !important;
    padding-top: 5px  !important;
    border-radius: 50%;
    font-size: 14px !important;
}
.app_the_food__image_heading_6_left h6{
    border: none;
    line-height: 1.5;
    color: #ccc;
    font-size: 16px !important;
    font-weight: 500;
}
.size_test .col-12 {
    padding: 0;
}
.app_the_food_image_heading_left_center h3 {
    font-weight: 700;
    font-size: 17px !important;
    margin-bottom: 0px !important;
    margin-top: 8px;
}
.app_the_food_image_heading_left_bottom h4 {
    font-size: 17px !important;
    color: #8a94a3;
}
.app_the_food_image_heading_left h3{
    font-size: 22px !important;
    font-weight: 700;
}
.app_the_food_image_content_text_icons.requireds {
    border-bottom: 1px solid #ccc;
    padding-left: 50px;
    padding-right: 39px !important;
    padding-bottom: 10px;
}
.app_the_food_image_button{
    position: relative;
    width: 95% !important;
    height: 55px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    display: inline-block;
    color: #fff;
    max-width: 100%;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px !important;
    margin-left: 10px !important;
}
.col-5.ng-star-inserted {
    padding: 0;
}
.app_the_food_image_content_text_icons .col-8 {
    max-width: 50%;
    padding: 0
}

.app_the_food_image_content_text_icons .col-4 {
    max-width: 50%;
    flex: 0%;
    padding: 0;
}
.add_cart{
   padding: 0; 
}
.ng-star-inserted .col-7{
    padding: 0;
}
.app_close_review_popup {
    position: absolute;
    top: -2% !important;
    left: 44% !important;
}
.app_your_basket_icons{
    background-color: var(--primary-color);
    color: #fff;
    width: 23px !important;
    text-align: center;
    height: 23px !important;
    padding-top: 5px !important;
    border-radius: 50%;
    font-size: 14px !important;
}
.app_your_basket_text_icons_number {
    color: black;
    font-size: 20px !important;
    padding-left: 15px;
    padding-right: 15px;
}
}
.app_close_review_popup {
    position: absolute;
    top: -3%;
    left: 48%;
}
.requireds .col-12 {
    padding: 0;
}
.col-5.ng-star-inserted {
    padding: 0;
}
.add_cart{
   padding: 0; 
}
.add_cart .col-4{
   padding: 0; 
}
/*.add_cart .col-8{
   padding: 0; 
}*/
.app_the_food_image_button:hover {
    color: #fff;
    text-decoration: none;
}

.app_the_food_image_content_text_icons {
    padding-top: 20px;
    margin-bottom: 10px;
}

.container_checkbox {
  display: block;
  position: relative;
/*  padding-left: 35px;
*/  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    float: right;
  margin-left: 6px;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:#8a87874d;
  border-radius: 6px;
}



/* When the checkbox is checked, add a blue background */
/*.container_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
*/
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
top: 3px;
    left: 9px;
    width: 8px;
    height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.app_the_food_image_content_text_icons.requireds {
    border-bottom: 1px solid #ccc;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}
.col-12.add_cart {
    padding-left: 50px;
    padding-right: 50px;
}
.app_the_food_image_heading_left_center h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px !important;
    margin-top: 8px;
}
.app_the_food_image_heading_left h3 {
    font-size: 27px;
    font-weight: 700;
/*    margin-top: 10px;
*/}
.app_the_food__image_heading_6_left h6 {
    border: none;
    line-height: 1.5;
    color: #ccc;
    font-size: 18px;
    font-weight: 500;
}
i.fa.fa-minus {
    background: #f6f4f4;
    width: 32px;
    text-align: center;
    height: 32px;
    padding-top: 7px;
    border-radius: 50%;
    font-size: 19px;
}
.app_your_basket_icons {
    background-color: var(--primary-color);
    color: #fff;
    width: 32px;
    text-align: center;
    height: 32px;
    padding-top: 7px;
    border-radius: 50%;
    font-size: 19px;
}
.app_your_basket_text_icons_number {
    color: black;
    font-size: 22px;
    padding-left: 15px;
    padding-right: 15px;
}
.app_the_food_image_heading_left_bottom h4 {
    font-size: 18px;
    color: #8a8787;
}
.app_the_food_image {
    background-color: #fff;
    padding-left: 80px;
    padding-right: 80px;
}

.app_the_food_image_button {
    position: relative;
    width: 88%;
    height: 55px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    display: inline-block;
    color: #fff;
    max-width: 100%;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 80px;
    margin-left: 38px;
}
.size_test .col-7 {
    padding-left: 0;
}
.choose_options.ng-star-inserted {
    padding-left: 34px;
    padding-right: 34px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

