agm-map {
    height: 300px;
}
/*.app_contact_map {
    width: 85%;
    margin-left: 4%;
}*/
/*.app_contact_form {
    background: #fff;
    position: absolute;
    width: 50%;
    margin-top: -38px;
}*/
input[type="submit"] {
    width: 100%;
    letter-spacing: 1px;
    margin-top: 60px;
}
.app_contact .app_contact_form .app_content i {
    padding-right: 5px;
    font-size: 26px;
    color: #8e8f96;
}
label.app_content {
    font-size: 18px;
    color: #8e8f96;
}

@media only screen and (max-width: 800px) and (min-width: 320px){
.app_contact_form{
    background: #fff;
    position: absolute;
    width: 90%;
    margin-top: -38px;
}

.app_contact_collapse {
    border: 3px solid #f6f4f4;
    max-width: 40%;
    background-color: #f6f4f4;
    margin: 0 auto 15px;
    border-radius: 25px;
}
.app_contact_map {
    width: 90%;
    margin-left: 6%;
}
}
.app_contact .app_contact_form {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(165,165,165,0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.agm-map-container-inner{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}