<!-- <div class="loader">
<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center ;">
	<mat-progress-spinner color="primary" mode="indeterminate">
	</mat-progress-spinner>
</mat-card>
</div> -->
<div class="app_verification app_personal_detail">
    <div class="app_container">
        <div class="app_verification_image">
            <a *ngIf="!userId" [routerLink]="['/otp']"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a *ngIf="userId" [routerLink]="['/view-basket']"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
        <div class="app_verification_caption">
            <h2 class="app_heading">Personal Details</h2>
            <h6 style="color: red">{{ display }}</h6>
            <h6 style="color: green">{{ displaysuccess }}</h6>
            <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
                <div class="row" *ngIf="user_image">
                    <div class="col-12">
                        <img width="100"  height="100" mat-card-image src="{{img_url}}{{user_image}}" alt="Photo of a Shiba Inu">
                        </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" mat-raised-button (click)="fileInput.click()">
                            <mat-icon>file_upload</mat-icon>Upload Profile
                        </button>
                        <input formControlName="file" hidden id="file" type="file" class="form-control" #fileInput
                            (change)="onFileSelected($event)">

                        <!-- <div class="image-preview mb-3" *ngIf="previewUrl">
                            <img [src]="previewUrl" height="50" />
                        </div> -->
                        <div *ngIf="fileUploadProgress">
                            Upload progress: {{ fileUploadProgress }}
                        </div>
                    </div>
                </div>
                <label class="app_content">Name</label>
                <input type="text"  minlength="3" [(ngModel)]="userName" formControlName="userName" placeholder="eg:- John Doe" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">User Name is required</div>
                        <div *ngIf="f.userName.errors.minlength">*User Name length 3 is required</div>
                    </div>
                <label class="app_content">Email</label>
                <input  [(ngModel)]="email" type="text" formControlName="email" placeholder="eg:- Johndoe@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                </div>
                <input type="submit" class="app_full_btn" value="Confirm">
            </form>
        </div>
    </div>
</div>
