.app_bestseller_foot span {
    padding-right: 15px;
    cursor: pointer;
}
@media only screen and (max-width: 800px) and (min-width: 320px){
	.col-4 {
    max-width: 60%;
    flex: 0%;
}
.col-8 {
    max-width: 40%;
    flex: 0%;
}
.image_title_sec {
    background: var(--primary-color);
    transform: rotate(-49deg);
    width: 200px;
    display: block;
    position: absolute;
    top: 22px;
    color: #fff;
    text-align: center;
    font-size: 19px;
    left: -49px;
    height: 42px;
    line-height: 36px;
    -webkit-clip-path: polygon(35% 0%, 72% 0%, 100% 196%, 0% 119%);
    clip-path: polygon(35% 0%, 72% 0%, 100% 196%, 3% 119%);
    border: 2px solid #fff !important;
    font-weight: 600;
    text-transform: lowercase;
}
.app_basket_btn_submit .app_full_btn.app_add_basket_btn {
    position: fixed;
    bottom: 15px;
    width: calc(100% - 70px);
    left: 38px;
    right: 15px;
}
/*.app_hot_food_restaurant_delivery_details ul li {
    position: relative;
    display: inline-block;
    width: 61%;
    margin-left: 0px;
    margin-right: 0px;
}*/
.app_bestsellers_detail img {
    border-radius: 18px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app_bestsellers_detail .row {
    margin-bottom: 40px;
}
.app_bestsellers_detail h5 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}
.app_bestsellers_detail h6 {
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
}
.app_restaurant .col-10 {
    max-width: 85%;
    flex: 85%;
}
.app_restaurant .col-2 {
    max-width: 15%;
    flex: 15%;
}
.minutess{
	width: 40%;
}
.valuess{
	width: 60%;
}
}
.app_hot_food_restaurant_delivery_details a {
    pointer-events: none;
}
.app_hot_food_restaurant_location a{
	pointer-events: none;
}

