.app_full_btn:hover {
    text-decoration: none;
    color: #ff3d00;
}
.app_welcome {
    position: fixed;
    float: left;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    bottom: 0;
    top: 0;
    min-height: calc(100vh - 30px);
}
i.fa.fa-long-arrow-right {
    margin-left: 20px;
    font-size: 30px;
    margin-top: 5px;
    position: absolute;
}
.app_welcome .app_full_btn {
    background-color: #fff;
    color: var(--primary-color);
    margin: 40px 34px 70px 34px;
}
.app_heading {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
.app_welcome .app_banner_image img {
    max-width: 100%;
    padding: 10px;
    border-radius: 100%;
}
.loader {
    margin-top:20%;
    position: absolute;
    margin-left: 45%
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000 !important;
}
@media only screen and (max-width: 800px) and (min-width: 320px){
.app_welcome .app_full_btn {
    background-color: #fff;
    color: var(--primary-color);
    margin: -32px 34px 72px 34px !important;
}
.app_welcome .app_banner_image {
    margin-bottom: 50px !important;
}
}