<div class="app_verification app_checkout app_pickup_location">
    <div class="app_container">
        <div class="app_verification_image">
            <a href="#" ><img src="assets/img/close_pickup.svg" alt=""></a>
            <h2 class="app_heading">Pickup Location</h2>
        </div>
        <div class="app_pickup_item_main">
            <div class="row">
                <div class="col-9">
                    <div class="app_pickup_location_cotent_text">
                        <div class="app_pickup_location_item">
                            <h4>Hot & Food JLT </h4>
                        </div>
                        <div class="app_pickup_location_address">
                            <h6 class="app_content">78th Street. 88 W 21th St, NY</h6>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="app_pickup_confirm">
                        <i class="fa fa-check app_pickup_location_icons" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="app_pickup_item_main">
            <div class="row">
                <div class="col-9">
                    <div class="app_pickup_location_cotent_text">
                        <div class="app_pickup_location_item">
                            <h4>Hot & Food mania</h4>
                        </div>
                        <div class="app_pickup_location_address">
                            <h6 class="app_content">Dubai Walk</h6>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="app_pickup_confirm">
                        <i class="fa fa-check app_pickup_location_icons" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <a href="#" class="app_full_btn">Choose this outlet</a>
        </div>
    </div>
</div>