.app_location_btn:hover {
    text-decoration: none;
    color: #ff3d00;
}
.whitecolor {
    color: #fff !important;
}
a.btn.app_full_btn.app_location_btn {
    text-transform: none;
}
p.app_content {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 55px;
}

