<div class="app_location">
	<div class="app_container">
		<div class="app_row">
			<div class="app_location_image">
				<img src="assets/img/location.png" alt="">
			</div>
			<div class="app_location_caption">
				<p class="app_content">Set your location to start exploring<p>
			</div>
				<a class="btn app_full_btn whitecolor" (click)="setCurrentLocation()">enable location</a>
				<a [routerLink]="['/order']" class="btn app_full_btn app_location_btn">No, I do it later</a>
		</div>
	</div>
</div>
	