/*.app_location_btn:hover {
    text-decoration: none;
    color: #ff3d00;
}*/
.whitecolor {
    color: #fff !important;
}
a.btn.app_full_btn.app_location_btn {
    text-transform: none;
}
p.app_content {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 55px;
}
.app_location_image svg {
    width: 25%;
}
.app_location .app_location_image {
    margin: -5px 0 -50px;
    text-align: center;
}
@media only screen and (max-width: 800px) and (min-width: 320px){
.app_location_image svg {
    width: 60%;
}
}

