<div class="app_order_placed">
    <div class="app_container">
        <div class="app_verification_image">
            <a [routerLink]="['/order']"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <h2 class="app_heading">Back to Home</h2>
        </div>
        <div class="app_row">
            <div class="col-12">
                <div class="app_order">
                    <div class="app_order_placed_banner">
                        <span><i class="fa fa-check app_inner_circle_icon" aria-hidden="true"></i></span>
                    </div>
                    <div class="app_order_placed_header">
                        <h2>Order Placed</h2>
                        <p>Your order has been successfully placed</p>
                    </div>
                    <div class="app_order_progress_detail">
                        <ul class="StepProgress">
                            <li class="StepProgress-item"
                                [ngClass]="this.orderHistory.order_status===1 ? 'current' : this.orderHistory.order_status>1 ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===1"
                                    src="assets/img/staus_progress.svg" alt=""> Order Placed </li>
                            <li class="StepProgress-item"
                                [ngClass]="this.orderHistory.order_status===3 ? 'current': this.orderHistory.order_status>3 ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===3"
                                    src="assets/img/staus_progress.svg" alt=""><strong>Preparing your order</strong></li>
                            <li class="StepProgress-item"
                                [ngClass]="this.orderHistory.order_status===4 ? 'current': this.orderHistory.order_status>4 ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===4"
                                    src="assets/img/staus_progress.svg" alt="">Out of deliver </li>
                            <li class="StepProgress-item"
                                [ngClass]="this.orderHistory.order_status===5 ? 'current' : ''"> <img *ngIf="this.orderHistory.order_status===5"
                                    src="assets/img/staus_progress.svg" alt="">Delivered </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="order_address">

            <div class="app_row">
                <div class="app_contact_collapse" data-toggle="collapse" data-target="#app_order_placed_collapse"></div>
                <div class="order_placed_content collapse" id="app_order_placed_collapse">
                    <p class="arrive_time">Arrives in {{this.orderHistory.order_delevery_time}} minutes</p>
                    <h3><span *ngFor="let itemData of getItemData; let isLast=last">{{itemData.item_name}} -
                            {{countOrder(itemData._id)}}{{isLast ? '' : ', '}}
                        </span> <a [routerLink]="['/order-details', this.orderHistory._id]"><i class="fa fa-angle-right"
                                aria-hidden="true"></i></a></h3>
                    <div class="app_order_placed_content">
                        <p>
                            <img src="assets/img/wallet.svg" alt="">
                            {{this.orderHistory.total_amount}} AED -Paid by
                            {{(this.orderHistory.paymentm_method===1)? 'Card': 'Cash'}}
                        </p>
                        <p>
                            <img src="assets/img/delivery_fast.svg" alt="">
                            {{(this.orderHistory===1)? 'Pickup' : 'Delivery' }} to
                            {{(this.orderHistory===1)? this.orderHistory.pickup_address : this.orderHistory.delevery_address }}
                        </p>
                    </div>
                    <div class="delivery_boy_call">
                        <div class="row">
                            <div class="col-2">
                                <div class="app_delivery_partner">
                                    <img class="app_delievery_boy_image" src="assets/img/delievery_boy.png" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <h3>Abdul Rehman</h3>
                                <p>Your delivery partner</p>
                            </div>
                            <div class="col-3">
                                <div class="app_delivery_call">
                                    <img src="assets/img/call.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="app_submit_call">
                            <img class="app_submit_call_image" src="assets/img/microphone.png" alt="">
                            <input type="submit" class="app_full_btn" value="call us">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
