<div class="app_order_placed">
    <div class="app_container">
        <div class="app_verification_image">
            <a [routerLink]="['/order']"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <h2 class="app_heading">Back to Home</h2>
        </div>
        <div class="app_row">
            <div class="col-12">
                <div class="app_order">
                    <div class="app_order_placed_banner">
                        <span><i class="fa fa-check app_inner_circle_icon" aria-hidden="true"></i></span>
                    </div>
                    <div class="app_order_placed_header">
                        <h2>Order Placed</h2>
                        <p *ngIf="this.orderHistory.order_status!==7 && this.orderHistory.order_status!==6">Your order
                            has been successfully placed</p>
                        <p *ngIf="this.orderHistory.order_status==7 && this.orderHistory.order_status!=6">Cancelled by
                            Customer</p>
                        <p *ngIf="this.orderHistory.order_status==6 && this.orderHistory.order_status!=7">Cancelled by
                            Restaurant</p>
                    </div>
                    <div class="app_order_progress_detail">
                        <ul class="StepProgress">
                            <li class="StepProgress-item order_place_sec"
                                [ngClass]="this.orderHistory.order_status===1 ? 'current' : this.orderHistory.order_status>1 ? 'is-done' : ''">
                                Order Placed </li>
                            <li *ngIf="this.orderHistory.order_status!==6 && this.orderHistory.order_status!==7 "
                                class="StepProgress-item"
                                [ngClass]="(this.orderHistory.order_status===3 && this.orderHistory.order_status!==6 && this.orderHistory.order_status!==7) ? 'current': this.orderHistory.order_status>3 ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===3" src="assets/img/staus_progress.svg"
                                    alt="">Preparing your order</li>
                            <li *ngIf="this.orderHistory.order_status===6" class="StepProgress-item"
                                [ngClass]="this.orderHistory.order_status===6 ? 'current': this.orderHistory.order_status>3 ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===6" src="assets/img/staus_progress.svg"
                                    alt="">Cancelled by Restaurant</li>
                            <li *ngIf="this.orderHistory.order_status===7" class="StepProgress-item"
                                [ngClass]="this.orderHistory.order_status===7 ? 'current': this.orderHistory.order_status>3 ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===7" src="assets/img/staus_progress.svg"
                                    alt="">Cancelled by Customer</li>
                            <li *ngIf="this.orderHistory.order_status!==7 && this.orderHistory.order_status!==6" class="StepProgress-item"
                                [ngClass]="(this.orderHistory.order_status===4 ||this.orderHistory.order_status===5)? 'current': (this.orderHistory.order_status===4 ||this.orderHistory.order_status===5 ||this.orderHistory.order_status===8) ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===4 ||this.orderHistory.order_status===5" src="assets/img/staus_progress.svg"
                                    alt="">{{(this.orderHistory.order_type===2)? 'Ready for pickup' : 'Out of delivery'}}
                            </li>
                            <li  *ngIf="this.orderHistory.order_status!==7 && this.orderHistory.order_status!==6" class="StepProgress-item"
                                [ngClass]="this.orderHistory.order_status===8 ? 'current': this.orderHistory.order_status>8 ? 'is-done' : ''">
                                <img *ngIf="this.orderHistory.order_status===8" src="assets/img/staus_progress.svg"
                                    alt="">Delivered</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="order_address">

            <div class="app_row">
                <div class="app_contact_collapse" data-toggle="collapse" data-target="#app_order_placed_collapse"></div>
                <div class="order_placed_content collapse" id="app_order_placed_collapse">
                    <!-- <p class="arrive_time" *ngIf="this.orderHistory.order_status>3 && this.orderHistory.order_status<8">Arrives in {{this.orderHistory.order_delevery_time}} minutes</p> -->
                    <!-- <p class="arrive_time" *ngIf="this.orderHistory.order_status===8">Arrives in {{this.orderHistory.order_completed_time}} minutes</p> -->
                    <p *ngIf='getorderDatetime(this.orderHistory.order_accepted_date, this.orderHistory.order_completed_time)>0 && this.orderHistory.order_status!==7 && this.orderHistory.order_status!==6 &&this.orderHistory.order_status!==8'>
                        <countdown
                            [config]="{leftTime: getorderDatetime(this.orderHistory.order_accepted_date, this.orderHistory.order_completed_time) }">
                        </countdown>
                    </p>
                    <p
                        *ngIf='getorderDatetime(this.orderHistory.order_accepted_date, this.orderHistory.order_completed_time)<0 && this.orderHistory.order_status>2  && this.orderHistory.order_status<7 && this.orderHistory.order_status!==7 && this.orderHistory.order_status!==6 &&this.orderHistory.order_status!==8'>
                        Coming soon
                    </p>

                    <span *ngIf="trackurldrop !== ''">
                    <span *ngIf="this.orderHistory.order_status===4 ||this.orderHistory.order_status===5 || this.orderHistory.order_status===3" class="tracking"><a target="_blank" href="{{trackurldrop}}">Track Details</a></span></span>

                    <h3><span *ngFor="let itemData of getItemData; let isLast=last">{{itemData.item_name}} -
                            {{countOrder(itemData._id)}}{{isLast ? '' : ', '}}
                        </span> <a [routerLink]="['/order-details', this.orderHistory._id]"><i class="fa fa-angle-right"
                                aria-hidden="true"></i></a></h3>
                    <div class="app_order_placed_content">
                        <p>
                            <img src="assets/img/wallet.svg" alt="">
                            {{this.orderHistory.total_amount | number : '1.2-2'}} AED -Paid by
                            {{(this.orderHistory.paymentm_method===1)? 'Card': 'Cash'}}
                        </p>
                        <p>
                            <img src="assets/img/delivery_fast.svg" alt="">
                            {{(this.orderHistory.order_type===2)? 'Pickup' : 'Delivery' }} to
                            {{(this.orderHistory===2)? this.orderHistory.pickup_address : this.orderHistory.delevery_address }}
                        </p>
                    </div>
                    <!-- <div class="delivery_boy_call" *ngIf="this.orderHistory.order_status>3">
                        <div class="row">
                            <div class="col-2">
                                <div class="app_delivery_partner">
                                    <img class="app_delievery_boy_image" src="assets/img/delievery_boy.png" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <h3>Abdul Rehman</h3>
                                <p>Your delivery partner</p>
                            </div>
                            <div class="col-3">
                                <div class="app_delivery_call">
                                    <img src="assets/img/call.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="app_submit_call">
                            <img class="app_submit_call_image" src="assets/img/microphone.png" alt="">
                            <input type="submit" class="app_full_btn" value="call us">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</div>