.profiless a {
    text-decoration: none;
}
.app_checkout .app_heading {
    display: inline-block;
    padding-left: 20px;
    margin-left: 35px;
}
@media only screen and (max-width: 800px) and (min-width: 320px){
.app_heading{
    margin-left: 20px !important;
}
}